body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fefbf6;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 100vh;
}

.topic-name {
    font-size: 3rem;
}

.topic-sub {
    padding-right: 30rem;
    font-size: 24px;
}

.container {
    margin: auto;
    text-align: center;
    width: 50%;
}
.fs-pg {
    text-align: justify;
}

.bd-fs {
    font-size: 60px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.container p {
    margin-top: 20px;
    font-size: 18px;
}

.cp-s {
    text-align: center;
    background-color: #add8e6;
    height: 250px;
    width: 800px;
    border-radius: 50px;
}

.cp-s1 {
    display: inline-block;
}

.palette {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    margin: 10px 20px;
    display: inline-block;
}

.cp-1 {
    background-color: #fefbf6;
}

.cp-2 {
    background-color: #630000;
}

.cp-3 {
    background-color: #000000;
}

.cp-4 {
    background-color: #d8b6a4;
}

.mc {
    background-color: #add8e6;
    border-radius: 50px;
}

.mc-s {
    margin: 10px 20px;
}